version: '3'
services:
  server:
    image: golang:latest
    # command: /bin/bash -c "go run app/main.go"
    tty: true
    ports:
      - "8082:8082"
    build: ./server
    volumes:
      - ./server:/app
    depends_on: 
      - "db"

  client:
    image: node:latest
    build: ./client
    volumes: 
      - ./client:/app
    ports:
      - 443:443
    tty: true
    depends_on: 
      - "server"

  db:
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
      POSTGRES_DB: "test2"
    hostname: postgres
    restart: always
    user: root
    volumes: 
      - ./postgres:/postgres

  pgweb:
    image: sosedoff/pgweb
    container_name: pgweb
    ports: 
      - "8081:8081"
    environment:
      - DATABASE_URL=postgres://root:root@postgres:5432/test2?sslmode=disable
    restart: always
    depends_on:
      - "db"
