@charset "utf-8";
body{
  // font-family: 'Hiragino Kaku Gothic ProN','Hiragino Sans',Meiryo,sans-serif;
}
.hover{
  cursor : pointer;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.bellow-error{
  margin-top: 30px;
}
.kusa{
  width: 128px;
  height: 128px;
}

.test2{
  width: 64px;
  height: 64px;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}

#test{
  max-width: 100%;
  
  max-height: 100%;
}

.product_detail{
  .table th, .table td{
    vertical-align: middle;
  }
  #map{
    width: 100%;
    height: 600px;
  }

  .out-img{
    margin-left: -24px;
  }
  #Imgbox{
    width: 150px;
    height: 150px;
    > img{
      max-width: 100%;
      max-height: 100%;
      width: 100%;
    }
  }
  .box{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 5px #EBEAEA;/*線*/
    border-radius: 10px;/*角の丸み*/
  }
  .rakuten{
    padding: 0.5em 1em;
    margin: 2em 0;
    // color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
  }
}

.login{
  .container{
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
  }
}

.drink{
  .genre_box{
    // border: solid #aac5de 4px;
    border-radius: 3px;
    background-color: #EEEEEE;
    padding: 20px 20px;
  }
  .search-box{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-nation{
    margin-top: 30px;
  }
  .table th, .table td{
    vertical-align: middle;
  }
}
#header{
  background-color: rgb(19,25,33);
  #header-box{
    // margin-bottom: 30px;
    color: black;
    .navbar-light .navbar-nav .nav-link{
      color: white;
    }
    #nav-home{
      margin-right: 20px;
      font-size: 30px;
    }
    #navbar-toggle-collapse a{
      color: white;
    }
  }
}
#footer{
  margin-top: 50px;
  a{
    color: #007bff;
  }
}
.admin-home{
  .ad-home-row{
    >a{
     margin-right: 20px; 
    }
  }
}
// PC用デザイン
@media screen and (min-width:500px) {
  .sp{
    display: none;
  }

  .drink{
    .drinks-table tr{
      td:first-child{
        width: 20%;
      }
      td:nth-child(2){
        width: 40%;
      }
      td:nth-child(3){
        width: 20%;
      }
      td:nth-child(4){
        width: 20%;
      }
    }
  }

  .product_detail{
    .prices-table tr{
      td:first-child{
        width: 40%;
      }
      td:nth-child(2){
        width: 20%;
      }
      td:nth-child(3){
        width: 40%;
      }
    }
    .cheapest{
      padding: 0;
    }
    #serch-shop{
      width: 170px;
    }

  }

}

// スマホ用デザイン
@media screen and (max-width:499px) {
  .pc{
    display: none;
  }
  .text-left-sp{
    text-align: left !important;
  }
  .form{
    font-size: 12px;
    .col-3, .col-9{
      padding: 0;
    }
  }
  .drink{
    .drinks-table{
      font-size: 16px;
      table-layout: fixed;
    }
    .table th, .table td{
      padding: 0.2rem;
    }
    .drinks-table tr{
      td:first-child{
        width: 20%;
      }
      td:nth-child(2){
        width: 50%;
      }
      td:nth-child(3){
        width: 20%;
      }
      td:nth-child(4){
        width: 10%;
      }
    }
  }
  .product_detail{
    #map{
      width: 100%;
      height: 400px;
    }
    p{
      font-size: 5vw;
    }
    .out-img{
      margin-left: 0;
    }
    #serch-shop a{
      font-size: 4.4vw;
    }
    #Imgbox{
      width: auto;
      height: auto;
    }
    .rakuten{
      margin: 0;
      img{
        max-width: 100%;
      }
    }
  }
}