@charset "utf-8";
body{
  // font-family: 'Hiragino Kaku Gothic ProN','Hiragino Sans',Meiryo,sans-serif;
}
.hover{
  cursor : pointer;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.bellow-error{
  margin-top: 30px;
}
.kusa{
  // background-color: red;
  width: 128px;
  height: 128px;
}
// img {
//   width: auto;
//   height: auto;
// }

.test2{
  width: 64px;
  height: 64px;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}

#test{
  max-width: 100%;
  
  max-height: 100%;
}

.product_detail{
  .out-img{
    margin-left: -24px;
  }
  #Imgbox{
    width: 150px;
    height: 150px;
    > img{
      max-width: 100%;
      max-height: 100%;
      width: 100%;
    }
  }
  .box{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 5px #EBEAEA;/*線*/
    border-radius: 10px;/*角の丸み*/
  }
  .rakuten{
    padding: 0.5em 1em;
    margin: 2em 0;
    // color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
  }
}

.login{
  .container{
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
  }
}

.drink{
  .genre_box{
    // border: solid #aac5de 4px;
    border-radius: 3px;
    background-color: #EEEEEE;
    padding: 20px 20px;
  }
  .search-box{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#header{
  background-color: rgb(19,25,33);
  #header-box{
    // margin-bottom: 30px;
    color: black;
    .navbar-light .navbar-nav .nav-link{
      color: white;
    }
    #nav-home{
      margin-right: 20px;
      font-size: 30px;
    }
  }
}
#footer{
  margin-top: 50px;
  a{
    color: #007bff;
  }
}
.admin-home{
  .ad-home-row{
    >a{
     margin-right: 20px; 
    }
  }
}
@media screen and (min-width:500px) {
  .sp{
    display: none;
  }

}

// スマホ用デザイン
@media screen and (max-width:499px) {
  .pc{
    display: none;
  }
  .drink{
    .drinks-table{
      font-size: 16px;
    }
  }
}